<%- include('partials/header') %>

<div class="container">
	<h2>Your Cart</h2>
	<div class="row">
		<% if (cart.length > 0) { %> <% let total = 0; let tax = 0; let subTotal =
		0; %>
		<div class="col-md-8">
			<% cart.forEach(item => { %>
			<div class="card mb-3">
				<div class="row g-0">
					<div class="col-md-4">
						<img
							src="<%= item.image %>"
							class="img-fluid card-img-top"
							alt="<%= item.title %>" />
					</div>
					<div class="col-md-8" id="item-<%= item.product_id %>">
						<div class="card-body">
							<h5 class="card-title"><%= item.title %></h5>
							<p class="card-text">$<%= Number(item.price).toFixed(2) %></p>
							<div class="d-flex align-items-center">
								<button
									data-product-id="<%= item.product_id %>"
									data-action="decrease"
									class="btn btn-primary add-to-cart">
									-
								</button>
								<p id="quantity-<%= item.product_id %>" class="quantity m-2">
									<%= item.quantity %>
								</p>
								<button
									data-product-id="<%= item.product_id %>"
									data-action="increase"
									class="btn btn-primary add-to-cart">
									+
								</button>
								<button
									data-product-id="<%= item.product_id %>"
									data-action="remove"
									class="btn btn-danger remove-from-cart">
									Remove
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% subTotal += Number(item.price) * item.quantity; %> <% }); %> <% tax =
			subTotal * 0.12; %>
		</div>
		<div class="col-md-4 total-pane">
			<h5>No. of products: <%= cart.length %></h5>
			<h5>Sub-Total: $<%= subTotal.toFixed(2) %></h5>
			<h5>Tax: $<%= tax.toFixed(2) %></h5>
			<h2>Total: $<%= (subTotal + tax).toFixed(2) %></h2>
			<a href="/checkout" class="btn btn-primary checkout">Checkout</a>
		</div>
		<% } else { %>
		<div class="col-md-12">
			<p>Your cart is empty.</p>
		</div>
		<% } %>
	</div>
</div>

<%- include('partials/footer') %>
