<%- include('partials/header') %>
<div class="container">
	<div class="row g-5">
		<div class="col-md-8 col-lg-8">
			<em>THIS IS JUST FOR TESTING PURPOSE </em>
			<h4 class="mb-3 text-white">Billing address</h4>
			<form class="needs-validation" novalidate="">
				<div class="row g-3">
					<div class="col-sm-6">
						<label for="firstName" class="form-label text-white"
							>First name</label
						>
						<input
							type="text"
							class="form-control"
							id="firstName"
							placeholder="First Name"
							value=""
							required="" />
						<div class="invalid-feedback">Valid first name is required.</div>
					</div>
					<div class="col-sm-6">
						<label for="lastName" class="form-label text-white"
							>Last name</label
						>
						<input
							type="text"
							class="form-control"
							id="lastName"
							placeholder="Last Name"
							value=""
							required="" />
						<div class="invalid-feedback">Valid last name is required.</div>
					</div>

					<div class="col-12">
						<label for="email" class="form-label text-white"
							>Email <span class="text-body-secondary">(Optional)</span></label
						>
						<input
							type="email"
							class="form-control"
							id="email"
							placeholder="you@example.com" />
						<div class="invalid-feedback">
							Please enter a valid email address for shipping updates.
						</div>
					</div>

					<div class="col-12">
						<label for="address" class="form-label text-white">Address</label>
						<input
							type="text"
							class="form-control"
							id="address"
							placeholder="1234 Main St"
							required="" />
						<div class="invalid-feedback">
							Please enter your shipping address.
						</div>
					</div>

					<div class="col-12">
						<label for="address2" class="form-label text-white"
							>Address 2
							<span class="text-body-secondary">(Optional)</span></label
						>
						<input
							type="text"
							class="form-control"
							id="address2"
							placeholder="Apartment or suite" />
					</div>

					<div class="col-md-5">
						<label for="country" class="form-label text-white">Country</label>
						<select class="form-select" id="country" required="">
							<option value="">Choose...</option>
							<option>Canada</option>
						</select>
						<div class="invalid-feedback">Please select a valid country.</div>
					</div>

					<div class="col-md-4">
						<label for="state" class="form-label text-white">Province</label>
						<select class="form-select" id="state" required="">
							<option value="">Choose...</option>
							<option>Alberta(AB)</option>
							<option>British Columbia(BC)</option>
							<option>Manitoba(MB)</option>
							<option>New Brunswick(NB)</option>
							<option>Newfoundland and Labrador(NL)</option>
							<option>Nova Scotia(NS)</option>
							<option>Ontario(ON)</option>
							<option>Prince Edward Island(PE)</option>
							<option>Quebec(QC)</option>
							<option>Saskatchewan(SK)</option>
						</select>
						<div class="invalid-feedback">Please provide a valid state.</div>
					</div>

					<div class="col-md-3">
						<label for="zip" class="form-label text-white">Zip</label>
						<input
							type="text"
							class="form-control"
							id="zip"
							placeholder=""
							required="" />
						<div class="invalid-feedback">Zip code required.</div>
					</div>
				</div>

				<hr class="my-4" />

				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="same-address" />
					<label class="form-check-label text-white" for="same-address"
						>Shipping address is the same as my billing address</label
					>
				</div>

				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="save-info" />
					<label class="form-check-label text-white" for="save-info"
						>Save this information for next time</label
					>
				</div>

				<hr class="my-4" />

				<h4 class="mb-3 text-white">Payment</h4>

				<div class="my-3">
					<div class="form-check">
						<input
							id="credit"
							name="paymentMethod"
							type="radio"
							class="form-check-input"
							checked=""
							required="" />
						<label class="form-check-label text-white" for="credit"
							>Credit card</label
						>
					</div>
					<div class="form-check">
						<input
							id="debit"
							name="paymentMethod"
							type="radio"
							class="form-check-input"
							required="" />
						<label class="form-check-label text-white" for="debit"
							>Debit card</label
						>
					</div>
				</div>

				<div class="row gy-3">
					<div class="col-md-6">
						<label for="cc-name" class="form-label text-white"
							>Name on card</label
						>
						<input
							type="text"
							class="form-control"
							id="cc-name"
							placeholder=""
							required="" />
						<small class="text-body-secondary"
							>Full name as displayed on card</small
						>
						<div class="invalid-feedback">Name on card is required</div>
					</div>

					<div class="col-md-6">
						<label for="cc-number" class="form-label text-white"
							>Credit card number</label
						>
						<input
							type="text"
							class="form-control"
							id="cc-number"
							placeholder=""
							required="" />
						<div class="invalid-feedback">Credit card number is required</div>
					</div>

					<div class="col-md-3">
						<label for="cc-expiration" class="form-label text-white"
							>Expiration</label
						>
						<input
							type="text"
							class="form-control"
							id="cc-expiration"
							placeholder=""
							required="" />
						<div class="invalid-feedback">Expiration date required</div>
					</div>

					<div class="col-md-3">
						<label for="cc-cvv" class="form-label text-white">CVV</label>
						<input
							type="text"
							class="form-control"
							id="cc-cvv"
							placeholder=""
							required="" />
						<div class="invalid-feedback">Security code required</div>
					</div>
				</div>

				<hr class="my-4" />

				<button class="w-100 btn btn-primary btn-lg" type="submit">
					Pay Now
				</button>
			</form>
		</div>

		<% if (cart && cart.length > 0) { %>
			<div class="border p-3 bg-dark rounded">
				<h5>No of products: <%= cart.length %></h5>
				<h5>Sub-Total: $<%= subTotal.toFixed(2) %></h5>
				<h5>Tax: $<%= tax.toFixed(2) %></h5>
				<h2>Total: $<%= (subTotal + tax).toFixed(2) %></h2>
			</div>
		<% } else { %>
			<div class="border p-3 bg-dark rounded">
				<p>Your cart is empty.</p>
			</div>
		<% } %>
		</div>
	</div>
</div>

<%- include('partials/footer') %>
