<%- include('partials/header') %>

<div class="container mt-5">
	<div class="row d-flex">
		<% for(let i = 0; i < necklaces.length; i++) { %>
		<div class="col-md-4">
			<div class="card black-card">
				<a href="/product-detail/necklace/<%= necklaces[i].id %>">
					<img
						src="<%= necklaces[i].image %>"
						class="card-img-top"
						alt="<%= necklaces[i].title %>" />
				</a>
				<div class="card-body">
					<h5 class="card-title"><%= necklaces[i].title %></h5>
					<p class="card-text">$<%= necklaces[i].price %></p>
					<button
						class="add-to-cart-btn"
						data-id="<%= necklaces[i].id %>"
						data-title="<%= necklaces[i].title %>"
						data-price="<%= necklaces[i].price %>"
						data-image="<%= necklaces[i].image %>">
						Add to Cart
					</button>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
<%- include('partials/footer') %>
